body {
  background: url('img/earth.jpg');
  background-color: black;
  background-size: 1400px;
  color: white;
}

#container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 8px;
  border-radius: 8px;
  margin-left: 16px;
}

a.btn:hover {
  background-color: #00008B;
}

p#distance {
  padding-bottom: 30px;
}
